.previewTitle {
  font-size: 1.1rem;
  font-weight: 800;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}


/*--- buttons --- */
.ctaMain {
  position: relative;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  border: solid 2px;
  margin-top: 1em;
  margin-bottom: 3em;
  text-transform: uppercase;
  font-size: .65rem;
  letter-spacing: .08em;
  text-decoration: none;
  color: #fff;
  border-color: #0069b4;
  background-color: #0069b4;
  transition: all .5s ease;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
}

.breakcontents > *{
    /*These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
